.footer {
    background-color: #183C56;
    color: white;
    font-family: Arial, sans-serif;
}

.footer-main {
    background-color: #206989;
    text-align: center;
    padding: 40px 20px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content h2 {
    margin: 0;
    font-size: 24px;
}

.order-now {
    background-color: #33A1C9;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.footer-section {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    max-width: 200px;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section a {
    color: white;
    text-decoration: none;
}

.footer-credits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 20px;
    border-top: 1px solid #ffffff50;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo img {
    height: 40px;
    margin-right: 10px;
}

.payment-methods {
    display: flex;
    align-items: center;
}

.payment-methods img {
    height: 30px;
    margin: 0 5px;
    border-radius: 18px;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .footer-bottom {
        flex-direction: column; /* Stack footer sections vertically */
        align-items: center; /* Center align items */
    }

    .footer-section {
        max-width: 100%; /* Full width for each section */
        text-align: center; /* Center text alignment */
    }

    .footer-credits {
        flex-direction: column; /* Stack footer credits vertically */
        align-items: center; /* Center align items */
    }

    .footer-logo,
    .payment-methods {
        width: 100%; /* Full width for logo and payment methods */
        justify-content: center; /* Center align items */
        text-align: center; /* Center text alignment */
        
    }
}
